{% extends "layout/basic.html" %}

{% load django_bootstrap5 %}

{% block title %}Аутентификация{% endblock %}

{% block content %}
<h2>Вход</h2>
{% if user.is_auhenticated %}
<p>В данный момент вы осуществили вход!</p>
{% else %}
<form method="post">
    {% csrf_token %}
    {% bootstrap_form form layout='horizontal' %}
    <input type="hidden" name="next" value="{{ next }}">
    {% bootstrap_button "Войти" %}
    <p> <a href="{% url 'main:password_reset' %}">Забыли пароль?</a> </p>
</form>
{% endif %}
{% endblock %}